---
layout: layout.njk
eleventyNavigation:
    key: The Wild Area
    order: 3
---
    <link rel="stylesheet" href="{{ '/css/components/hero.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/components/gallery.css' | url }}">
</head>

<body>
{% include "navigation.njk" %}
    <header class="hero-image" id="wild-area">
        <div class="hero-text-container">
            <div class="hero-text">
                <h1 class="yellow-text">Explore the Vast Expanse of the Wild Area</h1>
                <h2 class="white-text">A rich and vibrant area teeming with wild Pokémon</h2>
            </div>
        </div>
    </header>
    <main>
        <section id="wild-area-intro">
            <div class="container flex">
                <div class="wild-area-content">
                    <h1>What is the Wild Area?</h1>
                    <p>The Wild Area is the big open area in the Galar Region. It's connected to multiple towns and cities
                        and
                        features a diverse range of locations and styles including torn apart areas, lakes, fields and
                        more.</p>
                    <p>This area has full camera control and allows for you to explore unincumbered by restrictions in the
                        areas.
                        However, you will often find Pokémon higher than you can catch it. These can be good to battle for
                        experience
                        but will not be able to be caught or be shiny.</p>
                    <p>Throughout the Wild Area you may also find Pokémon Dens that house Max Raid Battles.</p>
                </div>
                <div class="wild-area-content">
                    <img src="{{ '/img/wild-area/wild-area.jpg' | url }}" width="95%"
                         alt="The Wild Area"/>
                </div>
            </div>
        </section>

        <section id="galar-pokemon">
            <div class="container flex">
                <div class="wild-area-content">
                    <img src="{{ '/img/wild-area/wild-area.gif' | url }}" width="100%"
                         alt="The Wild Area"/>
                </div>
                <div class="wild-area-content">
                    <h1 class="blue-text">Pokémon Galore</h1>
                    <p>You will encounter wild Pokémon on the field in the Wild Areas. However, the Pokémon you encounter
                        will
                        vary depending on your location in the Wild Area as well as the weather. If it's raining, for
                        example,
                        more Water-type Pokémon will appear</p>

                    <h3>Some Pokémon you will meet in the Wild Area include:</h3>
                    <ul>
                        <li>- Pikachu</li>
                        <li>- Snorlax</li>
                        <li>- Gyrados</li>
                        <li>- Butterfree</li>
                    </ul>

                    <p>Pokémon typically react differently to you based on the species. Some will charge at you, others will
                        run away. You can approach them slowly using the Control Stick or whistle to attract their
                        attention.</p>
                </div>
            </div>
        </section>
        <section class="margin-auto" id="weather">
            <div class="container">
                <h1 class="white-text align-center">Weather</h1>
                <p class="white-text">The weather in the Wild Area determines
                    which wild Pokémon can appear and, in some cases, which weather
                    conditions and terrain appear in battle. The weather varies between subareas, and while neighboring
                    subeareas can share the same weather, the weather in each is independently determined. However,
                    since
                    symbol encounters and wanderers spawn based on the weather currently experienced by players, it is
                    possible
                    for the weather of one subarea to affect these spawns in another subarea if players are near the
                    border
                    between them. The weather across the entire Wild Area changes each day at midnight.</p>
            </div>
            <section id="wild-area-gallery">
                <div class="gallery-wrapper">
                    <div class="media">
                      <img src="{{ '/img/wild-area/sandstorm.jpg' | url }}"
                           alt="{{ "image of the Wild Area while a sandstorm rages" }}"/>
                    </div>
                    <div class="media">
                      <img src="{{ '/img/wild-area/sunshine.jpg' | url }}"
                           alt="{{ "image of the Wild Area while in sunshine" }}"/>
                    </div>
                    <div class="media">
                      <img src="{{ '/img/wild-area/hail.jpg' | url }}"
                           alt="{{ "image of the Wild Area while hailing" }}"/>
                    </div>
                </div>
            </section>
    </section>

        <section class="container" id="max-raid">
            <h1 class="align-center">Max Raid Battles</h1>
            <div id="max-raid-intro">
                <img src="{{ '/img/wild-area/max-raid.jpg' | url }}" width="90%" alt="The Wild Area"/>
                <p>While in the Wild Area, you may come across glowing <strong>Pokemon Dens</strong>. When this spot gives off a
                    pillar of
                    light, it means a <strong>Dynamax Pokemon</strong> is hiding there.</p>

                <p>Approaching the Pokemon Den and interacting with it will let you challenge the Dynamax Pokemon inside,
                    which will vary by species and strength based on location and weather. You won't know exactly what the
                    Pokemon inside is, but you'll be given a shadow outline of that Pokemon as well as its type.</p>

            </div>
            <div class="flex" id="max-raid-imgs">
                <img src="{{ '/img/wild-area/den.jpg' | url }}" width="48%" alt="Wild Area Den"/>
                <img src="{{ '/img/wild-area/max-raid2.jpg' | url }}" width="48%" alt="Max Raid Battle"/>
            </div>

            <h2 class="align-center">Check out the video below to see a Max Raid Battle in action!</h2>
            <iframe width="100%" height="636"
                    src="https://www.youtube.com/embed/qWCYB8v4_2E"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </section>
    </main>
