    <footer class="full-width">
        <p><a class="link white-text" href="https://github.com/gracielily/webproject" target="_blank"><i class="fab fa-github"></i></a></p>
        <p>Grace Kelly - 12722041</p>
    </footer>
</body>
</html>
