<div class="circles">
        <div class="circles-block container">
            <ul id="circles-row">
                <li id="red-circle"></li>
                <li id="yellow-circle"></li>
                <li id="green-circle"></li>
            </ul>
            <div id="blue-circle"></div>
            <h1>{{ global_vars.pokedexEntries[0].name }} Pokedex Entry</h1>
        </div>
    </div>