{% set navPages = collections.all | eleventyNavigation %}
    <nav>
        <ul class="flex margin-auto">
            {%- for navPage in navPages %}
                    <li {% if navPage.url == page.url %} class="active"{% endif %}>
                        <a class="link white-text" href="{{ navPage.url | url }}">{{ navPage.title }}</a>
                    </li>
            {%- endfor %}
        </ul>
    </nav>
