    <link rel="stylesheet" href="{{ '/css/components/heading.css' | url }}">
    <link rel="stylesheet" href="{{ '../../css/components/gallery.css' | url }}">
    <link rel="stylesheet" href="{{ '../../css/components/cards.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/components/pokemon-type.css' | url }}">
</head>

<body>
{% include "navigation.njk" %}
    <header class="top-heading">
        <div class="top-heading-block container">
            <ul class="circles-row">
                <li class="red-circle"></li>
                <li class="yellow-circle"></li>
                <li class="green-circle"></li>
            </ul>
            <div class="blue-circle"></div>
            <h1 class="align-center yellow-text full-width">{{ pokemon.name }} Pokedex Entry</h1>
        </div>
    </header>
    <main class="pokedex">
        <br/>
        <section class="container">
            <p><a class="link white-text" href="../"><i class="fa fa-arrow-left"></i> Back to Pokedex</a></p>
            <div class="pokedex-entries" id="single-entry">
                <article class="cards-container container two-col-grid">

                    <div class="card">
                        <div class="card-image">
                            <img src="{{ '../../img/pokemon/' + pokemon.name | lower + '-pokedex.png' | url }}"
                                 alt="{{ "image of " + pokemon.name }} "/>
                        </div>
                    </div>

                    <div class="white-text">
                        <div id="pokedex-entry-heading">
                            <h2 class="white-text">#{{ pokemon.id }}</h2>
                            <h1 class="yellow-text">{{ pokemon.name }}</h1>
                            <p id="pokedex-entry-type"><span id="{{ pokemon.type | lower }}"
                                     class="type">{{ pokemon.type }}</span></p>
                            <p>{{ pokemon.description }}</p>
                            <p><strong>Height: </strong>{{ pokemon.height }}</p>
                            <p><strong>Weight: </strong>{{ pokemon.weight }}</p>
                        </div>
                    </div>

                </article>

                <section class="align-center pokedex-entry-stats three-col-grid" id="{{ pokemon.type | lower }}">
                    <div>
                        <h2 class="white-text">Species</h2>
                        <p><strong>{{ pokemon.species }}</strong></p>
                    </div>
                    <div>
                        <h2 class="white-text">Abilities</h2>
                        {% for ability in pokemon.abilities %}
                            <p><strong>{{ ability }}</strong></p>
                        {% endfor %}
                    </div>
                    <div>
                        <h2 class="white-text">Locations</h2>
                        {% for location in pokemon.locations %}
                            <p><strong>{{ location }}</strong></p>
                        {% endfor %}
                    </div>
                </section>
                <section class="align-left" id="pokedex-entry-overview">
                    <h1>Overview</h1>
                    <div class="three-col-grid">
                        <p>{{ pokemon.overview[0] }}</p>
                        <p>{{ pokemon.overview[1] }}</p>
                        <div>
                            <img src="{{ '../../img/pokemon/' + pokemon.name | lower + '.png' | url }}"
                                 alt={{ 'image of ' + pokemon.name }} width="100%">
                        </div>
                    </div>
                </section>

                <section class="align-center" id="pokedex-gallery">
                    <h1>Gallery</h1>
                    <div class="gallery-wrapper">
                        <div class="media">
                            <a href="{{ '../../img/pokemon/' + pokemon.name | lower + '-gallery1.jpg' | url }}" target="_blank">
                                <img src="{{ '../../img/pokemon/' + pokemon.name | lower + '-gallery1.jpg' | url }}"
                                     alt="{{ "image of " + pokemon.name }}"/>
                            </a>
                        </div>
                        <div class="media">
                            <a href="{{ '../../img/pokemon/' + pokemon.name | lower + '-gallery2.jpg' | url }}" target="_blank">
                                <img src="{{ '../../img/pokemon/' + pokemon.name | lower + '-gallery2.jpg' | url }}"
                                     alt="{{ "image of " + pokemon.name }}"/>
                            </a>
                        </div>
                        <div class="media">
                            <a href="{{ '../../img/pokemon/' + pokemon.name | lower + '-gallery3.jpg' | url }}" target="_blank">
                                <img src="{{ '../../img/pokemon/' + pokemon.name | lower + '-gallery3.jpg' | url }}"
                                     alt="{{ "image of " + pokemon.name }}"/>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </section>

    </main>
