---
layout: layout.njk
eleventyNavigation:
    key: Corviknight
    parent: Pokedex
---
{% import '_globals.njk' as global_vars %}
{% set pokemon = global_vars.pokedexEntries[5] %}
{% include "pokedex-entry.njk" %}