---
layout: layout.njk
eleventyNavigation:
    key: Pokedex
    order: 4
---
{% import '_globals.njk' as global_vars %}
    <link rel="stylesheet" href="{{ '/css/components/heading.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/components/cards.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/components/pokemon-type.css' | url }}">
</head>

<body>
{% include "navigation.njk" %}
    <main class="pokedex">
        <section class="top-heading">
            <div class="top-heading-block container">
                <ul id="heading-row">
                    <li id="red-circle"></li>
                    <li id="yellow-circle"></li>
                    <li id="green-circle"></li>
                </ul>
                <div id="blue-circle"></div>
                <h1 class="yellow-text align-center full-width">Sword & Shield Pokédex</h1>
            </div>
        </section>
        <section class="container">
            <section class="pokedex-intro">
                <p>Here you'll find a selection of Pokémon that are exclusive to Pokémon Sword & Shield.</p>
                <h2 class="white-text">Click on an entry below to learn more!</h2>
            </section>

            <section class="pokedex-entries">
                <article class="cards-container container three-col-grid">
                    {% for pokemon in global_vars.pokedexEntries %}

                        <a href="{{ '../pokedex/' + pokemon.name | lower | url }}">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{ '../img/pokemon/' + pokemon.name  | lower + '-pokedex.png' | url }}"
                                         alt="{{ 'image of the pokemon ' + pokemon.name }}">
                                </div>
                                <div class="card-info">
                                    <p class="reference">#{{ pokemon.id }}</p>
                                    <h2>{{ pokemon.name }}</h2>
                                    <p><span id="{{ pokemon.type | lower }}" class="type">{{ pokemon.type }}</span></p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </article>
            </section>
        </section>
    </main>
