---
layout: layout.njk
eleventyNavigation:
    key: Zacian
    parent: Pokedex
---
{% import '_globals.njk' as global_vars %}
{% set pokemon = global_vars.pokedexEntries[7] %}
{% include "pokedex-entry.njk" %}