---
layout: layout.njk
eleventyNavigation:
    key: Wyndon
    parent: The Galar Region
---
    <link rel="stylesheet" href="{{ '/css/components/heading.css' | url }}">
</head>

<body>
{% include "navigation.njk" %}
    <header class="top-heading location-heading wyndon">
        <div class="top-heading-block container">
            <h1 class="white-text">Wyndon</h1>
            <h2>Central Galar</h2>
        </div>
    </header>
    <main class="location-overview">

        <!-- Location Intro -->
        <section class="location-intro container align-center">
            <p class="align-left"><a class="link" href="../"><i class="fa fa-arrow-left"></i> Back to The Galar Region</a></p>
            <!-- About Wyndon -->
            <section>
                <div>
                    <h1>A booming and bustling metropolis at the heart of Galar</h1>
                    <img src="{{ '/img/locations/wyndon.png' | url }}" width="80%" alt="Image of Wyndon City"/>
                    <p>Wyndon is a large city located in the northernmost part of the Galar
                        region. It is the most populous city in Galar and the second-most
                        populous in the Pokémon world, behind Kalos's Lumiose City. </p>
                </div>
            </section>

            <!-- London Section -->
            <section class="container" id="london">
                <img src="{{ '/img/pokemon/corviknight.png' | url }}" width="20%" alt="Corviknight"/>
                <h1 class="blue-text">London's Calling</h1>
                <p>Wyndon is based on London, the capital of the United Kingdom. Wyndon's name is a portmanteau of win
                    (as it's where the Champion Cup is held), Windsor (the current royal family of the UK), Wimbledon
                    (a major tennis tournament held in London, tying in with Sword and Shield's sports motif),
                    and London (the city it's based on).</p>
                <div class="flex">
                    <div>
                        <img src="{{ '/img/locations/london.jpg' | url }}" width="85%" alt="Image of London City"/>
                    </div>
                    <div>
                        <img src="{{ '/img/locations/wyndon-city.png' | url }}" width="100%" alt="Image of Wyndon City"/>
                    </div>
                </div>
            </section>

            <!-- Wyndon Stadium Section -->
            <section class="location-extra-info align-left wyndon">
                <div class="container flex">
                    <div>
                        <h1 class="white-text">Wyndon Stadium</h1>
                        <p class="white-text">Wyndon Stadium is a location in Wyndon, where the Champion Cup is held. The
                            Champion Cup is a three-round single-elimination tournament.
                            The last standing Trainer will face the current reigning Champion to become the new Champion of
                            Galar. </p>
                    </div>
                    <div>
                        <img src="{{ '/img/locations/wyndon-stadium.png' | url }}" width="100%" alt="Wyndon City"/>
                    </div>
                </div>
            </section>

            <!-- Soundtrack -->
            <section class="container">
                <h1 class="align-center">Location Soundtrack</h1>
                <iframe width="100%" height="300" scrolling="no" frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/800588419&color=%235664d8&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true">
                </iframe>
            </section>
        </section>
    </main>
